@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #f2726a;
}

body{
    height: 100vh;
    background: linear-gradient(45deg, #00853e, #50c878);
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 400px;
    background: #242628;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

img{
    object-fit:cover ;
    width: 100%;
    height: 100%;
    object-position: center;
}

.card__img{
    width: 120px;
    height: 120px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
    transition: 0.5s;
}

.card h2{
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 35px;
}

.card p{
    color: var(--primary-color);
    margin-top: 5px;
}

.card__social {
    margin: 35px 0;
}

.card__social a:hover{
    color: var(--primary-color);
}

.card__social a{
    color: #fff;
    font-size: 18px;
    margin: 25px 15px;
}

.card button:hover{
 background: var(--primary-color);
}

.card button{
    color: #fff;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    border: 1px solid var(--primary-color);
    background: transparent;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.card__img:hover{
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
}
