/* PC */
@media(min-width: 1040px){
    #header .mobile-menu-btn{
        display: none;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1039px) {
    #header .mobile-menu-btn{
        display: none;
    }
}
/* Mobile */
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: none;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background: #333;
    }

    #nav .subnav a{
        padding:5px 41px;
        color: #fff;
    }

    #content .member-img{
        width: 60%;
    }

    #contact .contact-form{
        margin-top: 16px;
    }



}